.features {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
}

.features h1 {
    height: max-content;
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 20px;
}

.announcement-create {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    visibility: hidden;
}

.announcement-create-show{
    position: static;
    visibility: visible;
}
.ann-info{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.ann-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-title {
    text-align: center;
    height: max-content;
    width: 500px;
    padding: 10px;
}

.input-description{
    text-align: center;
    height: 100px;
    width: 500px;
    padding: 10px;
}


.announcement-button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    padding: 10px;
    height: max-content;
}
.announcement-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.banner{
    margin-top: 20px;
    background-color: violet;
    border-radius: 20px;
    width: 80%;
    height: fit-content;
    padding-left: 20px;
    color: rgb(84, 0, 84);
    box-shadow: 2px 2px 20px purple;
}
.banner .heading{
    font-weight: bold;
    font-size: 20px;
    height: max-content;
    padding: 20px;
}

.banner .description{
    height: max-content;
    padding: 20px;
}


/* MEDIA QUERIES*/
@media (max-width : 430px)
{
    .ann-input{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 200px;
    }
    .input-title {
        text-align: center;
        height: max-content;
        width: 200px;
        padding: 10px;
    }
    
    .input-description{
        text-align: center;
        height: 100px;
        width: 200px;
        padding: 10px;
        
    }
    .announcement-create {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        visibility: hidden;
    }
    .announcement-create-show{
        position: static;
        visibility: visible;
    }
    
}