
.features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;

}

.complaint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    height: max-content;
}

.complaint-hide{
    position: absolute;
    visibility: hidden;
}

.complaint-title {
    height: 70px;
    font-size: 30px;
    margin: 20px;
    align-self: flex-start;
}

.complaint-box {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80px;
    margin: 10px;
    background-color: #ffffff;
    border: 2px solid #f1eded;
    border-radius: 5px;

    align-self: center;
    box-sizing: border-box;

}

.complaint-input {
    display: flex;
    padding: 2%;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    justify-self: center;
    width: 70%;
}

.complaint-input-title {
    padding-bottom: 0;
    height: auto;
    width: 800px;
    font-weight: 400;
}

.complaint-input-data {
    margin-top: 10px;
    height: auto;
    width: 70%;
    width: none;
    border: none;
    outline: none;
    text-decoration: underline;
}

.complaint-button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.complaint-button-div {

    display: flex;
    width: auto;
    justify-self: center;
    align-items: center;
}


.display-complaint {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


.complaint-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 80%;
    justify-content: flex-start;


}

.complaint-img {
    height: 80px;
    width: 80px;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
}

.user-complaint {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 300;

}

.name-date {
    display: flex;
    color: #b0b0b0;
    font-size: 14px;
}

.complaint-date {
    padding-right: 2%;
}

.user-name {
    padding-left: 2%;
}

.remark {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    justify-self: center;
}

.complaint-status {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: red;
}
.complaint-status-resolve{
    color : green;
}

.resolve {
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    height: 40px;
    width: 100px;
    justify-content: center;
    border-radius: 8px;
    visibility: hidden;
}
.is-resolved{
    background-color: white;
    color: green;
    border : 1px solid green;
}
.resolve-show {
    visibility: visible;
}
@media (max-width: 430px)
{
    .complaint-title {
        height: max-content;
        font-size: 30px;
        margin: 20px;
        align-self: flex-start;
    }
.complaint-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.complaint-input {
    display: flex;
    padding: 2%;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    justify-self: center;
    width: 300px;
}
.complaint-input-title {
    padding-bottom: 0;
    height: auto;
    font-weight: 400;
}

.complaint-input-data {
    margin-top: 10px;
    width: 300px;
    text-wrap: wrap;
    height: auto;
    border: none;
    outline: none;
    text-decoration: underline;
}
.display-complaint {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}


.complaint-list {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    width: auto;
    justify-content: flex-start;


}

.complaint-img {
    height: 80px;
    width: 80px;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: center;
}

.user-complaint {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font-weight: 300;

}

.name-date {
    display: flex;
    color: #b0b0b0;
    font-size: 14px;
    height: max-content;
    text-wrap: nowrap;
}

.complaint-date {
    padding-right: 2%;
}

.user-name {
    padding-left: 2%;
}

.remark {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    justify-self: center;
}

.complaint-status {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: red;
    height: max-content;
    text-wrap: nowrap;
}
.complaint-status-resolve{
    color : green;
}

.resolve {
    position: absolute;
    visibility: hidden;
}

}