.wallet{
    display: flex;
    flex-direction: column;
}
.wallet-balance{
    position: absolute;
    right: 20px;
}
.maintenace-list{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: max-content;
    overflow: auto;
}
.pay-maintenance{
    margin-top: 20px;
}
.hidden{
    visibility: hidden;
}
.init{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,50%);
    background-color: lightgray;
    padding: 20px 40px;
   
}
@keyframes fade {
    0% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.3;
    }
  }
  
  .processing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: lightgrey;
    width: max-content; /* Adjust width as needed */
    height: max-content; /* Adjust height as needed */
    padding: 20px 40px;
    animation: process 1s linear infinite, fade 0.65s ease-in-out infinite; /* Adjust animation duration and timing function as needed */
  }
  
  