.wallet{
    display: flex;
    flex-direction: column;
}
.wallet-balance{
    position: absolute;
    right: 20px;
}
.maintenace-list{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: max-content;
    overflow: auto;
}
.pay-maintenance{
    margin-top: 20px;
}
.hidden{
    visibility: hidden;
}