
*{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: Poppins;
    
}


.features{
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
    
}

.events{
    height: 10%;
    font-size: 30px;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.Eventbox{
        display: flex;
        flex-direction:row;
        width: 80%;
        height: 12%;
        background-color: #ffffff; 
        border: 2px solid #f1eded; 
        border-radius: 5px; 
        padding-left: 2%;
        align-self: center;
        align-items: center;
        box-sizing: border-box;
        
}
.eventImg{
    height: 30px;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 30px;

}

.eventInfo{
    
    display: flex;
    flex-direction: column;
    padding-left: 20px;
 
    
}


.timeLoc{
    display: flex;
    flex-direction: row;
    color:#868484;
}

#eventName{
    display: flex;
    font-size: 20px;
    align-items: end;

  
}