
*{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: Poppins;
    
}

.page {
    display: grid;
   grid-template-rows: 10% 90%;
    background-color: rgb(255, 255, 255);
   
}
.a{
    display: grid;
    grid-template-columns: 1fr 4fr;  

}
.navigation-bar{
    display: grid;
    grid-template-columns: 5% 25% 50% 20%;
    grid-template-areas: "image apex searchBar logIn-div";
    align-items: center;
    justify-content:left;
    background-color: #F5F0EA;
 

}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F0EA;;
    
}

.message{
   width: 90%;
   height: 5%;
    background-color: #F5F0EA;
    margin-bottom: 10px;
    text-decoration: underline;
    text-align: center;
    font-size: large;
    text-underline-offset: 0.5rem;
    margin-top: 4%;
}
.parameters{
   width: 90%;
   background-color: #F5F0EA;
   align-items: center;
   justify-content: center;
  
}

.image{
height: 40px;
width: 40px;
margin: 1%;
padding-left: 30%;
align-items: center;
justify-content: right;
 
}

.apex{
display : flex;
flex-direction: row;
justify-content: left;
align-items: center;
font-weight: 500;
font-size:38px ;
margin: 0%;
    
}
.sidebar li{
    display: flex;
    direction: row;
    list-style-type: none;
    font-weight: 200;
    font-size: 18px;
    align-items: center;
    height: auto;
    justify-content: left;
    margin-left: 15%;
    margin-top: 5%;
    transition: all 0.3s;
}

ul li:hover {
    padding-left: 20px;
    font-weight: 400;
    
}


.logIn-div{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 10%;

}

.button{

     height: 60%;
     width: 110px;
     border: none; 
     border-radius: 30px;
     background-color:   rgb(240, 150, 123);;
  
 
}

.searchBar{

   justify-content:center;
   margin: 1%;
   height: auto;
   width: 50%;
   cursor: pointer;
   margin-left: 60%;
   margin-right: 10%;
   padding: 10px;
   align-items: center;
   background: #ffffff;
   border-radius: 10px;

}

 .searchBar input{
    width: 30%;
    outline: none;
    border: none;
    font-weight: 300;
    align-items: start;
    justify-content: left;
    background: transparent;
}


.searchBar i.fas {
    font-size: 15px; 
    align-items: start;
    justify-content: left;
    color: rgb(0, 0, 0); 
}

.features{
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
    
}

.complaint{
    height: 10%;
    font-size: 30px;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.newComplaintBox{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 12%;
        background-color: #ffffff; 
        border: 2px solid #f1eded; 
        border-radius: 5px; 
        padding-left: 2%;
        align-self: center;
        box-sizing: border-box;
        
}

.input{
    width: 70%;
}

.newComplaint{
 
    padding-top: 2%;
    padding-bottom: 0;
    height: auto;
    width: 800px;
}

#inputComplaint{
   height: auto;
   width: 70%;
   padding-top: 0;
   width: none;
   border: none;
   outline: none;
   text-decoration: underline;
}

#complaintButton{
    width: 200px;
    display: flex;
    height: 30%;
    align-items: center;
    padding: 1%;

    justify-content: center;


}

.button1{
  
    display: flex;
    width: auto;
 
    justify-self: center;
    align-items: center;
}