
*{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: Poppins;
    
}

.features{
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
    
}

.complaint{
    height: 10%;
    font-size: 30px;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.newComplaintBox{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 12%;
        background-color: #ffffff; 
        border: 2px solid #f1eded; 
        border-radius: 5px; 
        padding-left: 2%;
        align-self: center;
        box-sizing: border-box;
        
}

.input{
    width: 70%;
}

.newComplaint{
 
    padding-top: 2%;
    padding-bottom: 0;
    height: auto;
    width: 800px;
}

#inputComplaint{
   height: auto;
   width: 70%;
   padding-top: 0;
   width: none;
   border: none;
   outline: none;
   text-decoration: underline;
}

#complaintButton{
    width: 200px;
    display: flex;
    height: 30%;
    align-items: center;
    padding: 1%;

    justify-content: center;


}

.button1{
  
    display: flex;
    width: auto;
 
    justify-self: center;
    align-items: center;
}

.complaintList{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    width: 80%;
    margin: 5%;
}