*{
   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
   
    }

    .split{
        display: grid;
        height: 100vh;
        grid-template-columns:20% 80%;
        grid-template-rows: 10% 90%;
        color: #050301;
        grid-template-areas: "component component "
                                "Sidebar main"
                               
                               ;
            
                               
    }

    ul{
    
        list-style-type: none;
        line-height: 2.5rem;
        font-weight: 200;
        font-size: 18px;
        margin-left: 25%;
        margin-top: 2%;
        text-align: left;
    }

    hr{
        counter-reset: #C5C2C2;
        margin-left: 13%;
    }

    .logIn-div{
        padding-left: 75%;
     
      
     }
     .logIn{
        align-items: center;
         color: black;
         font-weight: 500;
         font-size: 18px;
         padding-top:8px;
         padding-bottom: 8px;
         padding-left: 25px;
         padding-right: 25px;
         background-color: rgb(240, 150, 123);
         border: none;
         border-radius: 20px;
         
     }

    .component{
    grid-area: component;
    display: flex;
    orientation: landscape;
    background: #F5F0EA;
    align-items: center;
    }

    main{
        grid-area: main;
    }

    .Sidebar{
        background: #F5F0EA;
        grid-area: Sidebar;
    }

    .searchBar{
        height: 40px;
       width: 600px;
        display: flex;
        cursor: pointer;
        padding: 10px;
       align-items: center;
        background: #ffffff;
        border-radius: 10px;
 
    }
    .searchBar:hover input{
        width :1200px;
    }

     .searchBar input{
        width: 0;
        outline: none;
        border: none;
        font-weight: 300;
        transition: 0.8s;
        background: transparent;
    }


    .searchBar i.fas {
        font-size: 15px; 
        margin-right: 5px;
        color: rgb(0, 0, 0); 
    }
    .searchBar {
        position: absolute; 
        margin-left: 400px;
    
        
      
    }
    .apex {
        font-weight: 400;
     font-size: 3rem;
        color: #050301;
        padding-left: 40px;
    }

    .Message{
        line-height: 2.5rem;
        font-weight: 300;
        font-size: 20px;
        padding-left: 17%;
        padding-top: 2%;
        text-align: left;
        padding-bottom: 2%;
    }
    
    .image{
       margin-left: 20px;
    }

   


