
*{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: Poppins;
}

.page{
    display: grid;
   grid-template-rows: 10% 90%;
    background-color: rgb(255, 255, 255);
   
}
.a{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    

}
.navigation-bar{
    display: flex;
    flex-direction: row;
 align-items: center;
 justify-content: left;
    background-color:#F5F0EA;;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F0EA;;
    
}
.content{
  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    
}
.message{
   width: 90%;
   height: 5%;
    background-color: #F5F0EA;
    margin-bottom: 10px;
    text-decoration: underline;
    text-align: center;
    font-size: large;
    text-underline-offset: 0.5rem;
    margin-top: 4%;
}
.parameters{
   width: 90%;
   background-color: #F5F0EA;
   align-items: center;
   justify-content: center;
  
}

.image{
height: 40px;
width: 40px;
margin: 1%;
align-items: center;
 
}

.apex{
display : flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-weight: 500;
font-size:38px ;
margin: 1%;
    
}
.sidebar li{
    display: flex;
    direction: row;
    list-style-type: none;
    font-weight: 200;
    font-size: 18px;
   align-items: center;
    height: auto;
   justify-content: left;
   margin-left: 15%;
   margin-top: 5%;

    transition: all 0.3s;
}

ul li:hover {
    padding-left: 20px;
    font-weight: 400;
    
}


