body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

}

.left {
    display: flex;
    background-color: #F5F0EA;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.right {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.login-input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.login-input {
    border: none;
    border-radius: 25px;
    width: 350px;
    height: 50px;
    margin-top: 20px;
    background-color: #F5F0EA;
    padding-left: 20px;
    font-size: 16px;

}

.login-button {
    background-color: black;
    color: white;
    width: 372px;
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    font-family: Poppins;
}

.login-button:hover {
    opacity: 0.8;
}

.login-button:active {
    opacity: 0.6;
}

h2 {
    padding-left: 5px;
    font-weight: bold;
    font-family: Poppins;
    font-size: 36px;
    margin: 0;
}

p {
    padding-left: 16px;
    font-family: Poppins;
    margin-top: 8px;
    margin-bottom: 0;
    transition: transform 0.3s;
}

a {
    color: black;
    font-style: normal;
}

p:hover {
    transform: translateY(-2px);
}
.alert{
    position: absolute;
    top: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(1, 154, 1);
    color: white;
    padding: 10px;
    padding-inline: 25px;
    border-radius: 10px;

}

.alert span {
    font-size: 18px;
}

@media (max-width: 890px) {
    .main {
        display: inline;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 15vh;
    }

    .logo-image {
        height: 100px;
    }

    .right {
        display: flex;
        align-items: center;
    }


    .login-input-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .login-input {
        border: none;
        border-radius: 25px;
        width: 250px;
        height: 50px;
        margin-top: 20px;
        background-color: #F5F0EA;
        padding-left: 20px;
        font-size: 16px;

    }

    .login-button {
        background-color: black;
        color: white;
        width: 272px;
        height: 50px;
        margin-top: 20px;
        font-size: 18px;
        border-radius: 25px;
        border: none;
        font-family: Poppins;
    }

}