body , html{
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.main{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    transition: all 1s;
}
.main:hover{
    grid-template-columns: 25% 75%;
}


.left{
    display: flex;
    background-color: #F5F0EA;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
.right{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.signup-button{
    background-color: black;
    color: white;
    width: 372px;
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    font-family: Poppins;
}

.signup-button:hover{
    opacity: 0.8;
}

.signup-button:active{
    opacity: 0.3;
}

p{
    padding-left: 0px;
    font-family: Poppins;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 35px;
}
.sign-input-form{
    display: flex;
    flex-direction: column;
    align-items: start;

}
.signup-input{
    border: none;
   border-radius: 25px;
   width: 1fr;
   height: 40px;
   margin-top: 20px;
   background-color: #F5F0EA;
   padding-left: 20px;
   padding-right: 20px;
   font-size: 16px;
   margin-left: 10px;
}
.select-signup-input{
    border: none;
    border-radius: 25px;
    width: 207px;
    height: 40px;
    margin-top: 20px;
    background-color: #F5F0EA;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 16px;
    margin-left: 10px;
}
.details{
    margin-bottom: 10px;
}

.alert{
    position: absolute;
    top: 20px;
    margin-top: 10px;
    font-size: 24px;
    background-color: rgb(144, 248, 144);
    color: darkgreen;
    padding: 10px;
    padding-inline: 25px;
    border-radius: 10px;

}

.alert span {
    font-size: 18px;
}
@media (max-width: 1423px) {
   
    .main {
        display: inline;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 15vh;
    }

    .logo-image {
        height: 100px;
    }

    .right {
        display: flex;
        align-items: center;
    }

    .sign-input-form{
        margin-left : 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .signup-input{
        border: none;
       border-radius: 25px;
       width: 1fr;
       height: 40px;
       margin-top: 20px;
       background-color: #F5F0EA;
       padding-left: 20px;
       padding-right: 20px;
       font-size: 16px;
       margin-left: 10px;
    }
    .select-signup-input{
    border: none;
    border-radius: 25px;
    width: 207px;
    height: 40px;
    margin-top: 20px;
    background-color: #F5F0EA;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 16px;
    margin-left: 10px;
}
.signup-button{
    background-color: black;
    color: white;
    width: 372px;
    height: 50px;
    
    font-size: 18px;
    border-radius: 25px;
    border: none;
    font-family: Poppins;
    margin-bottom: 10%;
}
.details{
    margin-bottom: 10px;
   
}
}


@media (max-width: 545px) {
   
    .main {
        display: inline;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 15vh;
    }

    .logo-image {
        height: 100px;
    }

    .right {
        display: flex;
        align-items: center;
    }

    .sign-input-form{
        margin-left : 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .signup-input{
        border: none;
       border-radius: 25px;
       width: 1fr;
       height: 40px;
       margin-top: 20px;
       background-color: #F5F0EA;
       padding-left: 20px;
       padding-right: 20px;
       font-size: 16px;
       margin-left: 10px;
    }
    .select-signup-input{
    border: none;
    border-radius: 25px;
    width: 207px;
    height: 40px;
    margin-top: 20px;
    background-color: #F5F0EA;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 16px;
    margin-left: 10px;
}
.signup-button{
    background-color: black;
    color: white;
    width: 372px;
    height: 50px;
    
    font-size: 18px;
    border-radius: 25px;
    border: none;
    font-family: Poppins;
    margin-bottom: 10%;
}
.details{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert{
    width: 280px;
    position: absolute;
    top: 50px;
    margin-top: 10px;
    font-size: 18px;
    background-color: rgb(144, 248, 144);
    color: darkgreen;
    padding: 10px;
    padding-inline: 25px;
    border-radius: 10px;

}
.alert span {
    font-size: 13px;
}
}

